@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
* {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-sizing: border-box;
}

.navbar-brand {
  float: right !important;
  padding: 13px 13px !important;
}

.navbar-default .navbar-toggle {
  float: left !important;
  margin-left: 15px !important;
  border: none !important;
  margin-bottom: -10px !important;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar-default .navbar-header p {
  display: block;
  font-family: "Fira Sans", sans-serif;
  color: #404040;
  float: left;
}
.navbar-default .navbar-header img.icono--menu {
  width: 15% !important;
  display: block;
}
.navbar-default .navbar-collapse .navbar-nav li {
  font-family: "Fira Sans", sans-serif;
}
.navbar-default .navbar-collapse .navbar-nav li a {
  padding-left: 1em !important;
}
.navbar-default .navbar-nav > li > a {
  color: #A00D3B;
}
.navbar-default .navbar-nav > .active > a {
  color: #07B9EC;
}

.usuario--info img {
  border-radius: 0% 0% 55% 55%;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.usuario--info img.usuario--info__logo {
  width: 50% !important;
  margin: auto 25% !important;
}
.usuario--info .usuario--info__compartir {
  display: flex;
  position: relative;
  z-index: 2;
  background-color: #A00D3B;
  width: 68px;
  border-radius: 50%;
  height: 68px;
  margin: -26% 64% !important;
}
.usuario--info .usuario--info__compartir i {
  padding: 30% !important;
  color: #FFFFFF;
  font-size: 2em;
}
.usuario--info p.usuario--info__nombre, .usuario--info p.usuario--info__cargo {
  display: flex;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
}
.usuario--info p.usuario--info__nombre {
  color: #07B9EC;
  font-size: 2em;
  margin-top: 40%;
  font-weight: 700;
}
.usuario--info p.usuario--info__cargo {
  color: #404040;
  font-size: 1.3em;
}
.usuario--info p.usuario--info__cargo span:after {
  content: "";
  display: block;
  height: 2px;
  margin: 10px auto;
  position: relative;
  width: 100px;
  z-index: 2;
  border-radius: 5%;
  background: #ADA64F;
}

ul.usuarios--redes__principales,
ul.usuarios--redes__secundarias {
  margin: 5px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
ul.usuarios--redes__principales li,
ul.usuarios--redes__secundarias li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 12px !important;
  text-align: center;
}
ul.usuarios--redes__principales li a,
ul.usuarios--redes__secundarias li a {
  border: 2px solid;
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 9px 0px;
  font-size: 1.4em;
  margin: 1em 0em;
  cursor: pointer;
}
ul.usuarios--redes__principales li a i,
ul.usuarios--redes__secundarias li a i {
  line-height: 1em;
  font-size: 1.1em;
}

ul.usuarios--redes__principales li:first-child a {
  color: #25d366;
}
ul.usuarios--redes__principales li:nth-child(2) a {
  color: #179947;
}
ul.usuarios--redes__secundarias li:first-child a {
  color: #A00D3B;
}
ul.usuarios--redes__secundarias li:nth-child(2) a {
  color: #3b5998;
}
ul.usuarios--redes__secundarias li:nth-child(3) a {
  color: #1da1f2;
}
ul.usuarios--redes__secundarias li:nth-child(4) a {
  color: #8a3ab9;
}
ul.usuarios--redes__secundarias li:nth-child(5) a {
  color: #0077B5;
}
ul.usuarios--redes__secundarias li:last-child a {
  color: red;
}

.wrap--item {
  box-shadow: 0px 0px 20px 5px rgba(64, 64, 64, 0.15);
  margin: 0em 1em !important;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.431);
}
.wrap--item p.wrap--item_titulo, .wrap--item p.wrap--item__subtitulo, .wrap--item p.wrap--item__anio, .wrap--item p.wrap--item__calificacion--subtitulo {
  font-family: "Fira Sans", sans-serif;
}
.wrap--item p.wrap--item_titulo {
  color: #14596D;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em 1em 0em 0.9em !important;
}
.wrap--item p.wrap--item__subtitulo {
  color: #ADA64F;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0em 1em 0em 0.9em !important;
}
.wrap--item p.wrap--item__anio {
  color: #A00D3B;
  font-size: 0.9em;
  padding: 0em 1em 0em 0.9em !important;
}
.wrap--item p.wrap--item__descripcion {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #404040;
  padding: 1em 1em !important;
  font-size: 1em;
}
.wrap--item img.wrap--item__calificacion {
  display: inline-flex;
  max-width: 100px !important;
  border-radius: 50%;
  float: left;
  margin: 1em !important;
  transition: filter ease-in-out 0.3s;
}
.wrap--item .wrap--item__calificacion--subtitulo {
  color: #ADA64F;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1em 1em 0em 0.9em !important;
}
.wrap--item .wrap--item__calificacion--container {
  width: 100%;
  margin: 1em;
  text-align: center;
}
.wrap--item .star {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.wrap--item .star .stararea {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  color: #aaa;
  font-size: 3em;
  line-height: 50px;
  cursor: pointer;
  z-index: 10;
  text-align: center;
}
.wrap--item .star .stararea:before {
  width: 50px;
  height: 50px;
  content: "★";
  display: inline-block;
  color: #95a5a6;
  position: absolute;
  left: 0;
  top: -1px;
  opacity: 0;
  z-index: -1;
}
.wrap--item .star .stararea:after {
  width: 50px;
  height: 50px;
  content: "★";
  display: inline-block;
  color: #f1c40f;
  position: absolute;
  left: 0;
  top: -1px;
  opacity: 0;
  z-index: -2;
}
.wrap--item .star:hover .stararea {
  color: #999;
}
.wrap--item .star.active .stararea {
  -webkit-animation: starbackground 500ms 1;
  -moz-animation: starbackground 500ms 1;
  -o-animation: starbackground 500ms 1;
  animation: starbackground 500ms 1;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}
.wrap--item .star.active .stararea:before {
  -webkit-animation: staranimation 250ms 1;
  -moz-animation: staranimation 250ms 1;
  -o-animation: staranimation 250ms 1;
  animation: staranimation 250ms 1;
}
.wrap--item .star.active .stararea:after {
  -webkit-animation: staranimation 350ms 1;
  -moz-animation: staranimation 500ms 1;
  -o-animation: staranimation 500ms 1;
  animation: staranimation 500ms 1;
  animation-delay: 250ms;
}
@-webkit-keyframes staranimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    top: -1px;
  }
}
@-moz-keyframes staranimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    top: -1px;
  }
}
@-o-keyframes staranimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    top: -1px;
  }
}
@keyframes staranimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    top: -1px;
  }
}
@-webkit-keyframes starbackground {
  0% {
    color: #aaaaaa;
  }
  100% {
    color: #f1c40f;
  }
}
@-moz-keyframes starbackground {
  0% {
    color: #aaaaaa;
  }
  100% {
    color: #f1c40f;
  }
}
@-o-keyframes starbackground {
  0% {
    color: #aaaaaa;
  }
  100% {
    color: #f1c40f;
  }
}
@keyframes starbackground {
  0% {
    color: #aaaaaa;
  }
  100% {
    color: #f1c40f;
  }
}

.reconocimientos h1,
.portafolio--servicios h1 {
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  margin: 3em 1em 0.5em 0.5em !important;
  font-size: 2em;
  font-weight: 300;
  color: #A00D3B;
}
.reconocimientos .portafolio--servicios__titulo,
.portafolio--servicios .portafolio--servicios__titulo {
  padding: 0.7em 1em 0em 0.7em !important;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #A00D3B;
  font-weight: 700;
  text-align: center;
}
.reconocimientos .portafolio--servicios__imagen,
.portafolio--servicios .portafolio--servicios__imagen {
  margin-top: 1em;
}

.usuario--sitio,
.usuario--direccion {
  padding: 15px;
  box-shadow: 0px 0px 20px 5px rgba(64, 64, 64, 0.15);
  margin: 1em 1em !important;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.431);
}
.usuario--sitio a,
.usuario--direccion a {
  font-family: "Fira Sans", sans-serif;
  color: #A00D3B;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.usuario--sitio a {
  font-size: 0.8em;
}

.barra--solicitar {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: #07B9EC;
  border-radius: 1em 1em 0em 0em;
  margin-bottom: 4em;
}
.barra--solicitar a {
  padding: 0.4em 0em;
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: -4px 0px 3px rgba(11, 103, 126, 0.82);
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}

.menu--fijo {
  bottom: 0;
  position: fixed;
  background-image: linear-gradient(#A00D3B, #50071E);
  width: 100%;
  height: 55px;
}
.menu--fijo ul.menu--fijo__items {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
}
.menu--fijo ul.menu--fijo__items li {
  margin: 4% auto !important;
}
.menu--fijo ul.menu--fijo__items li a {
  color: #FFFFFF;
  cursor: pointer;
}
.menu--fijo ul.menu--fijo__items li a i {
  font-size: 1.5em;
}

/*# sourceMappingURL=styles.css.map */
